body {
  background-color: var(--figma-color-bg);
  padding: 0;
  margin: 0;
}

#plugin-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#top-layout {
  width: 100%;
  height: 255px;
  border-bottom: 1px solid var(--figma-color-bg-tertiary);
  display: flex;
  flex-direction: row;
}

#code-preview {
  width: 100%;
  max-height: 260px;
  border-bottom: 1px solid var(--figma-color-bg-tertiary);
  display: flex;
  flex-direction: row;
}

#colors-preview {
  height: 100%;
  width: 50%;
  overflow-y: scroll;
}

#layout-preview-with-binoculars {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#code-container {
  height: 100%;
  overflow: scroll;
  background-color: #fff;
}

#preview-svg {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview-svg svg {
  width: 128px;
  height: 128px;
}

#actions-with-code {
  width: 60px;
  border-left: 1px solid var(--figma-color-bg-tertiary);
  padding: 10px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#copy-code {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--figma-color-bg-brand);
  display: flex;
  justify-content: center;
  align-items: center;
}

#copy-code:hover {
  background-color: var(--figma-color-bg-brand-hover);
  cursor: pointer;
}

#copy-code-as-file {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

#copy-code-as-file:hover {
  cursor: pointer;
  background-color: var(--figma-color-bg-brand-tertiary);
}

#copy-as-file {
  fill: var(--figma-color-text);
}

#bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

#link-to-github-project {
  display: flex;
  flex-direction: row;
  gap: 7px;
  padding-left: 16px;
  cursor: pointer;
}

#link-to-github-project-text {
  color: var(--figma-color-text);
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
}

#link-to-github-project:hover #link-to-github-project-text {
  text-decoration: underline;
} 

#plugin-version {
  color: var(--figma-color-text);
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  padding-right: 16px;
}

#colors-pull {
  width: 100%;
}

.color-with-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 6px;
  flex: 1;
}

.color-block {
  width: 14px;
  height: 14px;
  background-color: var(--figma-color-bg-secondary);
}

.color-hex-color {
  color: var(--figma-color-text);
  font-family: "Inter";
  font-size: 14px;
  width: 60px;
}

.color-variable {
  color: var(--figma-color-text);
  font-family: "Inter";
  font-size: 14px;
}


td {
  border: 1px solid var(--figma-color-bg-tertiary);
}

tr {
  display: flex;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
}

tr:hover {
  background-color: var(--figma-color-bg-onselected-hover);
}

.color-with-variable {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex: 1;
}